# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/languages/
!wp-content/mu-plugins/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/acfml/
!wp-content/plugins/advanced-custom-fields-pro/
!wp-content/plugins/sitepress-multilingual-cms/
!wp-content/plugins/wpml*
!wp-content/plugins/wr_*
!wp-content/plugins/wr-*

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/wp-bootstrap-starter-child/

# Language
wp-content/languages/*
!wp-content/languages/.gitkeep
!wp-content/languages/gitkeep

# -------------------------
# BEGIN Whitelisted Files
# -------------------------

# track these files, if they exist
!.editorconfig
!.phpcs.xml.dist
!README.md
!package.json
!Gruntfile.js
!composer.json
!composer.lock
!wp-cli.yml
